<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <img src="/logo.png" alt="logo" />
        {% for entry in nav %}
        <a href="{{ base_path }}{{entry}}/">{{entry}}</a>
        {% endfor %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ current_year }} Lorem Ipsum</p>
        <ul>
            <li><a href="https://socialshit.com/masterme">SocialShit</a></li>
            <li><a href="https://github.com/sphaero">GitHub</a></li>
            <li><a href="https://www.example.com/">Example</a></li>
        </ul>
    </footer>
</body>
</html>
