<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ base_path }}style.css">
</head>
<body >
    <nav>
        <a id="navhome" href="/" aria-label="Home">
          <img src="{{ base_path }}logo.png" alt="logo" />
        </a>
        {% for entry in nav %}
        <a href="{{ base_path }}{{entry}}/">{{entry}}</a>
        {% endfor %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
    <div class="clearfix" style="content: ''; display: table; clear: both;"></div>
    <footer>
        <span>&copy; {{ current_year }} Lorem Ipsum</span>
        <a href="https://socialshit.com/masterme">SocialShit</a>
        <a href="https://github.com/sphaero">GitHub</a>
        <a href="https://www.example.com/">Example</a>
    </footer>
</body>
</html>
