{% extends "base.html" %}
{% block title %}{{ title }} - {{ subtitle }} {% endblock %}
{% block content %}
{% if _tags is defined %}
<tags>
    <ul> 
    <div>tags:</div> 
    {% for tag in _tags %}
    <li><a href="{{ base_path }}tags/{{ tag }}.html">{{ tag }}</a></li>
    {% endfor %}
    </ul>
</tags>
{% endif %}
<date>{{ date }}</date>
<main>
    {{ content }}
    {% for entry in entries %}
    {% if entry.summary is defined %}
    <section>
        <h1><a href="{{ base_path }}{{entry.url}}"></h1>
            {{ entry.title }}
            {% if 'img' in entry and entry['img'] %}
                <img clas="indeximg" src={{entry.img}}/>
            {% endif %}
        </a>
        <p>
            {% if entry.summary %}
                {{entry.summary}}
                <a href="{{ base_path }}{{entry.url}}"> (read more)</a>
            {% endif %}
        </p>
    </section>
    {% endif %}
    {% endfor %}
</index>
</main>
{% endblock %}
