{% extends "base.html" %}
{% block title %}{{ title }} - {{ subtitle }} {% endblock %}
{% block content %}
    {{ content }}
    {% for entry in entries %}
    {% if entry.summary is defined %}
    <section>
        <a href="{{ base_path }}{{entry.url}}">
            {% if entry.thumbnail is defined %}
                <img clas="indeximg" src={{ base_path }}{{entry.thumbnail}} />
            {% endif %}
            <h1>{{entry.title}}</h1>
        </a>
        <p>
            {% if entry.summary %}
                {{entry.summary}}
                <p><a href="{{ base_path }}{{entry.url}}"> (read more)</a></p>
            {% endif %}
        </p>
    </section>
    {% endif %}
    {% endfor %}
{% if _tags is defined %}
<tags>
    <ul> 
    <div>tags:</div> 
    {% for tag in _tags %}
    <li><a href="{{ base_path }}tags/{{ tag }}.html">{{ tag }}</a></li>
    {% endfor %}
    </ul>
</tags>
{% endif %}
{% endblock %}
